[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "terralink"]
	path = terralink
	url = https://github.com/sorus-tools/terralink-r
